<div class="section" >
    <div class="layui-card">
        <div class="layui-card-header">管理用户组</div>
        <div class="layui-card-body">
            <div class = "layui-row layui-col-space30">
                <div class = "layui-col-log12 layui-col-md12" id = "groupTableWrap">
                    <table id = "groupTable"></table>
                    <div id="groupPager"></div>
                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/html" id="toolbar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑内容</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit_au">编辑权限</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    var groupTable = null;

    var editRow = function(id) {
        $('#groupTable').jqGrid('editRow',id, {
            keys: true,
            url: '/auth/Group/editAndAdd',
            aftersavefunc: function (rowid, response) {
                $('#groupTable').jqGrid().trigger('reloadGrid');
                console.log($.parseJSON(response.responseJSON).msg);
            }
        });
    };

    var enableListen = function (data) {
        $('.my-layer-mcs').off().on('click',function () {

            var t=$(this);
            var url = t.data('url');
            var title=t.data('title');
            var id = t.data('id');

            if(undefined===title || title.length<1){
                title=t.text(); //jQuery DOM
            }

            $.get('/auth/Au/index','',function (html) {
                mylayerIndex = layui.layer.open({
                    id: 'myLayer',
                    type: 1,
                    skin: 'layui-layer-lan',
                    offset: 'auto',
                    area: ['600px', '600px'],
                    title: title,
                    content: html,
                    resizing: function (layero) {
                        if ("undefined" !== typeof layerresize) {
                            layerresize();
                        }
                    }
                });

                if("undefined"!==typeof layerjs){
                    layerjs();
                }
            });
        });
    };

    var pagejs = function() {
        $.extend($.fn.fmatter , {
            actionFormatter: function(cellvalue, object, rowdata) {
                return '<button class="ui-button ui-corner-all ui-widget my-layer-mcs"' +
                    ' data-id = '+rowdata.id+' data-url ="/index/Group/managePages" data-title = '+rowdata.title+' >管理权限</button>'
            }
        });

        groupTable = $("#groupTable").jqGrid({
            url: '/auth/Group/getGroupData',
            datatype: 'json',
            height: 500,
            colModel: [
                { label: 'id', name: 'id', align: 'center'},
                {
                    label: '名称',
                    name: 'title',
                    align: 'center',
                    editable: true,
                    edittype: 'text'
                },
                {
                    label: '操作',
                    name: 'action',
                    align: 'center',
                    formatter: 'actionFormatter'
                }
            ],
            viewrecords: true, // show the current page, data rang and total records on the toolbar
            gridview: true,
            scroll: true,
            multiselect: true,
            toolbar: [true, 'top'],
            ondblClickRow: editRow,
            loadComplete: enableListen,
            pager: "#groupPager",
            caption: "用户组列表"
        });

        $('#t_groupTable').append('<button class="ui-button ui-corner-all ui-widget my-toolbar-add" data-url = "/auth/Group/add">新建</button>' +
            '<button class="ui-button ui-corner-all ui-widget my-toolbar-remove" data-url = "/auth/User/del" data-table = "userTable" disabled = true>删除</button>');

        $('.my-toolbar-add').on('click', function (event) {
            $('#userTable').jqGrid('addRow' , {
                useFormatter: true
            });
        });
    }
</script>
