{__NOLAYOUT__}
<div class="section" >
    <div id="sign_in" >
        <div>
            <form action="" method="post">
                <table cellspacing="10">
                    <tr>
                        <td class="bar_name">用户名：</td>
                        <td>
                            <input class="input_bar" type="text" name="username" />
                        </td>
                    </tr>

                    <tr>
                        <td class="bar_name">密码：</td>
                        <td>
                            <input class="input_bar" type="password" name="password" />
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <button type="button" class="layui-btn layui-btn-primary layui-btn-xs">忘记密码</button>
                        </td>
                    </tr>

                    <tr>
                        <td align="left">
                            <input class="btn" type="submit" value="登录" />

                        </td>

                        <td align="right">
                            <input class="btn" type="reset" value="取消" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>


    <div class="notes" >
        <p>
            <span>用户名使用六位工号。取自人力资源部系统。</span>
        </p>

        <p>
            <span>密码独立存储，默认为123456.本系统不支持注册。忘记密码后将跳转至单页，填写邮箱地址。邮箱地址必须为@cctvplus.com。同时填写4位验证码。点击确定后正确的进入系统，错误的弹出用户名或密码不匹配。</span>
        </p>
    </div>
</div>