<style>
    #draggable { width: 476px; height: 360px; padding: 0.5em}
</style>

    <div class="layui-card">
        <div class="layui-card-header">排班系统</div>
        <div class="layui-card-body">

            <form class = "layui-form" action="" lay_filter = "component-form-element">

                <div class = "layui-row layui-col-space10 layui-form-item">

                    <div class = "layui-col-log6 layui-col-md3">
                        <label class = "layui-form-label">选择岗位：</label>
                        <div class="layui-input-block">

                            <select id = "PID" class="layui-select layui-input" lay-filter = "position" >
                                {volist name="positions" id="vo"}
                                <option value='{$vo.id}' {if $vo.id == $default_PID}selected{/if}>{$vo.PN}</option>
                                {/volist}
                            </select>
                        </div>

                    </div>
                </div>
            </form>


            <table id = "ptable" class="layui-table" style="text-align: center">
                <colgroup>
                    <col width="150">
                    <col width="100">
                    <col width="150">
                </colgroup>

                <thead >
                <tr>
                    <th rowspan="2" style="text-align: center">日期</th>
                    <th rowspan="2">星期</th>
                    <th rowspan="2">部门</th>
                </tr>

                </thead>

                <tbody id ="pdata">


                {volist name="displayData" key = "i" id="vo1"}
                <tr>
                    <td>{$vo1.date}</td>
                    <td>{$vo1.weekDay}</td>
                    <td>{$vo1.Org_N}</td>
                </tr>
                {/volist}

                </tbody>


            </table>



        </div>
    </div>


<script>
    //var displayData = JSON.parse('{$displayData|raw}');
    //console.log({$displayData|raw});
    var pagejs = function() {
        layui.form.on('select(position)',function (data) {
            layui.$.post('/paiban/index/getTable',{Pos_id: data.value}, function (json) {
                var res=layui.$.parseJSON(json);

                // layui.$('#PID').html(res.PID);
                // layui.$('#SID').empty();
                // layui.$('#CA').empty();
                // layui.form.render('select');
                //refreshTable(res.table);
                // console.log(res.mtable);
            }, 'json');

        });
    };
    //
    // function refreshTable(data) {
    //     //第一个实例
    //     layui.table.render({
    //         elem: '#'
    //         ,height: 312
    //         data: data
    //     });
    // }


</script>