<div class="section" >
    <div class="layui-card">
        <div class="layui-card-header">管理用户</div>
        <div class="layui-card-body">
            <div class = "layui-row layui-col-space30">
                <div class = "layui-col-log12 layui-col-md12" id = "userTableWrap">
                    <table id = "userTable"></table>
                    <div id="userPager"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var userTable = null;
    var groups={$groups|raw};
    var groupsString = JSON.stringify(groups);
    var replace = new RegExp(',', 'g');
    console.log(groups);

    var editRow = function(id) {
        $('#userTable').jqGrid('editRow',id, {
            keys: true,
            url: '/auth/User/editAndAdd',
            aftersavefunc: function (rowid, response) {
                $('#userTable').jqGrid().trigger('reloadGrid');
                console.log($.parseJSON(response.responseJSON));
            }
        });
    };

    var pagejs = function()
    {
        $.extend($.fn.fmatter , {
            userGroupFormatter: function (cellvalue, object, rowdata) {
                return groups[cellvalue];
            }
        });

        userTable = $("#userTable").jqGrid({
            url: '/auth/User/getUserData',
            datatype: 'json',
            height: 500,
            colModel: [
                { label: 'id', name: 'id', align: 'center'},
                {
                    label: '工号',
                    name: 'eid',
                    align: 'center',
                    editable: true,
                    edittype: 'text'
                },
                {
                    label: '企业邮箱',
                    name: 'email',
                    align: 'center',
                    editable: true,
                    edittype: 'text'
                },
                {
                    label: '姓名',
                    name: 'name',
                    align: 'center',
                    editable: true,
                    edittype: 'text'
                },
                {
                    label: '密码',
                    name: 'pwd',
                    align: 'center',
                    editable: true,
                    edittype: 'text'
                },
                {
                    label: '页面权限',
                    name: 'mid',
                    align: 'center',
                    editable: true,
                    edittype: 'text'
                },
                {
                    label: '用户组',
                    name: 'auid',
                    align: 'center',
                    editable: true,
                    formatter: 'select',
                    edittype: 'select',
                    editoptions: {value: groupsString.replace(replace,';').replace(/[{|}|"]/g, '')}
                }
            ],
            ajaxRowOptions: {
                async: true
            },
            viewrecords: true, // show the current page, data rang and total records on the toolbar
            gridview: true,
            scroll: true,
            multiselect: true,
            toolbar: [true, 'top'],
            ondblClickRow: editRow,
            pager: "#userPager",
            caption: "用户名单"
        });

        $('#t_userTable').append('<button class="ui-button ui-corner-all ui-widget my-toolbar-add" data-url = "/auth/User/add">新建</button>' +
            '<button class="ui-button ui-corner-all ui-widget my-toolbar-remove" data-url = "/auth/User/del" data-table = "userTable" disabled = true>删除</button>');

        $('.my-toolbar-add').on('click', function (event) {
            $('#userTable').jqGrid('addRow' , {
                useFormatter: true
            });
        });
    }
</script>
