<div class="section" >
    <div class="layui-card">
        <div class="layui-card-header">添加岗位</div>
        <div class="layui-card-body">
            <form class="layui-form" method="post" id="add"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
                <div class="layui-form-item">
                    <label class="layui-form-label">所属组织</label>
                    <div class="layui-input-block">
                        <select name="Org_id">
                            <option value='0' ></option>
                            {volist name="orgs" id="vo"}
                            <option value="{$vo.id}">{$vo.Org_N} {$vo.Org_C}</option>
                            {/volist}
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">岗位名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="PN" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
                <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
            </form>


        </div>
    </div>
</div>