<div class="section" >
    <div class="layui-card">
        <div class="layui-card-header">编辑岗位</div>
        <div class="layui-card-body">
            <form class="layui-form" method="post"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->


                <div class="layui-form-item">
                    <label class="layui-form-label">所属组织</label>
                    <div class="layui-input-block">
                        <select name="Org_id">
                            <option value='0'></option>
                            {volist name="orgs" id="vo"}
                            <option value="{$vo.id}" {if $vo.id == $form_data.Org_id}selected{/if}>{$vo.Org_N}</option>
                            {/volist}
                        </select>
                    </div>
                </div>


                <div class="layui-form-item">
                    <label class="layui-form-label">岗位名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="PN" value="{$form_data.PN}" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>