<div class="section" >
    <div class="layui-card">
        <div class="layui-card-header">编辑班别</div>
        <div class="layui-card-body">
            <form class="layui-form" method="post"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->


                <div class="layui-form-item">
                    <label class="layui-form-label">所属岗位</label>
                    <div class="layui-input-block">
                        <select name="PID">
                            <option value='0'></option>
                            {volist name="posts" id="vo"}
                            <option value="{$vo.id}" {if $vo.id == $form_data.PID}selected{/if}>{$vo.PN}</option>
                            {/volist}
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">班别代码</label>
                    <div class="layui-input-block">
                        <input type="text" name="SC" value="{$form_data.SC}" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">班别名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="SN" value="{$form_data.SN}" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">上班时间</label>
                    <div class="layui-input-block">
                        <input type="text" name="Time" value="{$form_data.Time}" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>


                <div class="layui-form-item">
                    <label class="layui-form-label">上班规则</label>
                    <div class="layui-input-block">
                        <select name="REID">
                            <option value='0'></option>
                            {volist name="regulations" id="vo"}
                            <option value="{$vo.id}" {if $vo.id == $form_data.REID}selected{/if}>{$vo.title}</option>
                            {/volist}
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">使用日历</label>
                    <div class="layui-input-block">
                        <select name="CID">
                            <option value='0'></option>
                            {volist name="calendars" id="vo"}
                            <option value="{$vo.id}" {if $vo.id == $form_data.CID}selected{/if}>{$vo.title}</option>
                            {/volist}
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>


                <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
            </form>
        </div>
    </div>
</div>