<div class="section" >
    <div class="layui-card">
        <div class="layui-card-header">管理班别</div>
        <div class="layui-card-body">
            <form class = "layui-form" action="" lay_filter = "component-form-element">

                <div class = "layui-row layui-col-space10 layui-form-item">
                    <div class = "layui-col-log6 layui-col-md3">
                        <label class = "layui-form-label">组织名称：</label>
                        <div class="layui-input-block">
                            <select name="Org_id" id="Org_id" lay-filter="s1" >
                                {volist name="org" id="vo"}
                                <option value="{$vo.id}">{$vo.Org_N}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                </div>

                <div class = "layui-row layui-col-space10 layui-form-item">
                    <div class = "layui-col-log6 layui-col-md3">
                        <label class = "layui-form-label">岗位名称：</label>
                        <div class="layui-input-block">
                            <select name="PID" id="PID"  lay-filter="s2">
                            </select>
                        </div>
                    </div>
                </div>

                <div class = "layui-row layui-col-space10 layui-form-item">
                    <div class = "layui-col-log6 layui-col-md3">
                        <label class = "layui-form-label">班别名称：</label>
                        <div class="layui-input-block">
                            <select name="SID" id="SID"  lay-filter="s3">
                            </select>
                        </div>
                    </div>

                    <div class = "layui-col-log6 layui-col-md3">
                        <div class="area">
                            <a type="button" class="layui-btn" href="/index/Shift/add">
                                <i class="layui-icon">&#xe608;</i> 创建新的班别
                            </a>
                        </div>
                    </div>
                </div>

                <div class = "layui-form-item">

                </div>

            </form>
        </div>
    </div>

    <div class="layui-card">
        <div class="layui-card-header">班别细节：</div>
        <div class="layui-card-body">
            <div class = "layui-row layui-col-space10">
                <div class = "layui-col-log6 layui-col-md5">
                    <table class="layui-table" lay-skin="nob">
                        <colgroup>
                            <col width="100">
                            <col width="200">
                            <col width="100">
                            <col width="200">
                        </colgroup>
                        <tbody>
                        <tr>
                            <td>使用日历：</td>
                            <td id="CA"></td>
                        </tr>
                        <tr>
                            <td>班别代码：</td>
                            <td id="SC"></td>
                        </tr>
                        <tr>
                            <td>上班时间：</td>
                            <td id="BT"></td>
                            <td>下班时间：</td>
                            <td id="ET"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <label class = "layui-form-label">上班规则：</label>
                <div class = "layui-col-log6 layui-col-md5">
                    <table id="work" lay-filter="test" class = "layui-table"></table>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-card">
        <div class="layui-card-header">组织人员名单：</div>
        <div class="layui-card-body">
            <table id="memb" lay-filter="test"></table>
        </div>
    </div>
</div>

<script>
    var org2={
      xz:[
          {key:'ch',value:'策划'},
          {key:'zb',value:'值班'}
      ],
      js:[
          {key:'bj',value:'编辑'},
          {key:'zg',value:'主管'}
      ]
    };
    var org3={
        ch:[
            {key:'zb1',value:'早班1'},
            {key:'mb1',value:'中班1'},
            {key:'wb1',value:'晚班1'}
        ],
        zb:[
            {key:'zb2',value:'早班2'},
            {key:'mb2',value:'中班2'},
            {key:'wb2',value:'晚班2'}
        ],
        bj:[
            {key:'zb3',value:'早班3'},
            {key:'mb3',value:'中班3'},
            {key:'wb3',value:'晚班3'}
        ],
        zg:[
            {key:'zb4',value:'早班4'},
            {key:'mb4',value:'中班4'},
            {key:'wb4',value:'晚班4'}
        ]
    };

    var pagejs = function() {
        layui.form.on('select(s1)',function (data) {
            //console.log(data.value);
            layui.$.post('/index/Shift/getSelect_T/key/'+data.value,'',function (json) {
                console.log(json);
                var res=layui.$.parseJSON(json);
                layui.$('#PID').html(res.PID);
                layui.$('#SID').empty();
                layui.$('#CA').empty();
                layui.$('#SC').empty();
                layui.$('#BT').empty();
                layui.$('#ET').empty();
                layui.$('#RE').empty();
                layui.$('#work').empty();
                layui.form.render('select');
                refreshMTable(res.mtable);
                console.log(res.mtable);

            }, 'json');

        });
        layui.form.on('select(s2)',function (data) {
            //console.log(data.value);
            layui.$.post('/index/Shift/getSelect/key/'+data.value,'',function (json) {
                var res=layui.$.parseJSON(json);
                layui.$('#SID').html(res.shift);
                layui.$('#CA').empty();
                layui.$('#SC').empty();
                layui.$('#BT').empty();
                layui.$('#ET').empty();
                layui.$('#RE').empty();
                layui.$('#work').empty();
                layui.form.render('select');
            }, 'json');
        });
        layui.form.on('select(s3)',function (data) {
            layui.$.post('/index/Shift/getData/key/'+data.value,'',function (json) {
                console.log(json);
                var res=layui.$.parseJSON(json);
                layui.$('#CA').html(res.CA);
                layui.$('#SC').html(res.SC);
                layui.$('#BT').html(res.BT);
                layui.$('#ET').html(res.ET);
                layui.$('#RE').html(res.RE);
                layui.$('#work').html(res.wtable);

            },'json');
        });

    };

    // function refreshWTable(data, cols) {
    //     //第一个实例
    //     layui.table.render({
    //         elem: '#work'
    //         ,height: 312
    //         ,page: true //开启分页
    //         ,cols: [[ //表头
    //             {field: 'EID', title: '工号', width:80, sort: true, fixed: 'left'}
    //             ,{field: 'name', title: '姓名', width:80, sort: true}
    //             ,{field: 'Org_C', title: '组织代码', width: 120, sort:  true}
    //             ,{field: 'Org_N', title: '组织名称', width: 120, sort: true}
    //         ]]
    //         ,data: data
    //         ,cols: cols
    //     });
    // }

    function refreshMTable(data) {
        //第一个实例
        layui.table.render({
            elem: '#memb'
            ,height: 312
            ,page: true //开启分页
            ,cols: [[ //表头
                {field: 'EID', title: '工号', width:80, sort: true, fixed: 'left'}
                ,{field: 'name', title: '姓名', width:80, sort: true}
                ,{field: 'Org_C', title: '组织代码', width: 120, sort:  true}
                ,{field: 'Org_N', title: '组织名称', width: 120, sort: true}
            ]],
            data: data
        });
    }

    /*
    layui.form.on('select(org1)',function (data) {
            var key=data.value;
            var nxt = layui.$('#PID');
            nxt.empty();
            layui.$('#SID').empty();
            var item;
            nxt.append('<option value="">请选择</option>');
            for (item in org2[key]){
                var opt =  layui.$("<option>").val(org2[key][item].key).text(org2[key][item].value);
                nxt.append(opt);
            }
            layui.form.render('select');
        });
        layui.form.on('select(org2)',function (data) {
            var key=data.value;
            var nxt = layui.$('#SID');
            nxt.empty();
            var item;
            nxt.append('<option value="">请选择</option>');
            for (item in org3[key]){
                var opt =  layui.$("<option>").val(org3[key][item].key).text(org3[key][item].value);
                nxt.append(opt);
            }
            layui.form.render('select');
        });
        */

</script>

