<div class="section" >
    <div class="layui-card">
        <div class="layui-card-header">管理班别</div>
        <div class="layui-card-body">
            <form class = "layui-form" action="" lay_filter = "component-form-element">
                <div class = "layui-row layui-col-space10 layui-form-item">
                    <div class = "layui-col-log6 layui-col-md3">
                        <label class = "layui-form-label">一级部门：</label>
                        <div class="layui-input-block">
                            <select id="first_org" lay-filter="s1" >
                                <option value="">请选择</option>
                                {volist name="first_org" id="vo"}
                                <option value="{$vo.id}">{$vo.Org_N}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                </div>

                <div class = "layui-row layui-col-space10 layui-form-item">
                    <div class = "layui-col-log6 layui-col-md3">
                        <label class = "layui-form-label">二级部门：</label>
                        <div class="layui-input-block">
                            <select id="second_org" lay-filter="s2" >
                            </select>
                        </div>
                    </div>
                </div>


                <div class = "layui-row layui-col-space10 layui-form-item">
                    <div class = "layui-col-log6 layui-col-md3">
                        <label class = "layui-form-label">三级部门：</label>
                        <div class="layui-input-block">
                            <select id="third_org" lay-filter="s3" >
                            </select>
                        </div>
                    </div>
                </div>

            </form>

            <div class="layui-card">
                <div class="layui-card-header">班别列表：</div>
                <div class="layui-card-body">
                    <div class = "layui-row layui-col-space10">
                        <div class = "layui-col-log6 layui-col-md6">
                            <table id="shifts" lay-filter="test"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>

        <button class="layui-btn layui-btn-sm" data-title="添加班别信息" data-url="/index/Manageorg/add" lay-event="add">新增</button>
        <button class="layui-btn layui-btn-sm" lay-event="edit">编辑</button>
        <button class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">删除</button>
    </div>
</script>

<script>


    var pagejs = function() {
        layui.form.on('select(s1)',function (data) {
            //console.log(data.value);
            layui.$.post('/index/Shift/getSelect_T/key/' + data.value, '', function (json) {
                var res=layui.$.parseJSON(json);
                console.log(res);
                layui.$('#PID').html(res.PID);
                layui.$('#SID').empty();
                layui.$('#CA').empty();
                layui.$('#SC').empty();
                layui.$('#BT').empty();
                layui.$('#ET').empty();
                layui.$('#RE').empty();
                layui.$('#work').empty();
                layui.form.render('select');
                refreshMTable(res.mtable);
                console.log(res.mtable);

            }, 'json');

        });
        layui.form.on('select(s2)',function (data) {
            //console.log(data.value);
            layui.$.post('/index/Shift/getSelect/key/'+data.value,'',function (json) {
                var res=layui.$.parseJSON(json);
                layui.$('#SID').html(res.shift);
                layui.$('#CA').empty();
                layui.$('#SC').empty();
                layui.$('#BT').empty();
                layui.$('#ET').empty();
                layui.$('#RE').empty();
                layui.$('#work').empty();
                layui.form.render('select');
            }, 'json');
        });
        layui.form.on('select(s3)',function (data) {
            layui.$.post('/index/Shift/getData/key/'+data.value,'',function (json) {
                console.log(json);
                var res=layui.$.parseJSON(json);
                layui.$('#CA').html(res.CA);
                layui.$('#SC').html(res.SC);
                layui.$('#BT').html(res.BT);
                layui.$('#ET').html(res.ET);
                layui.$('#RE').html(res.RE);
                layui.$('#work').html(res.wtable);

            },'json');
        });

        var table = layui.table;
        table.render({
            elem: '#shifts'
            ,height: 300
            ,toolbar: '#toolbar'
            ,page: true //开启分页
            ,cols: [[ //表头
                {type:'checkbox'}
                ,{field: 'SC', title: '班别代码',  sort: true}
                ,{field: 'SN', title: '班别名称', sort: true}
                ,{field: 'Time', title: '上班时间', sort:  true}
                ,{field: 'Duration', title: '工时', sort:  true}
                ,{field: 'Org_id', title: '所属组织',  sort: true}
                ,{fixed: 'right', title:'操作', toolbar: '#bar'}
            ]],
            data: [[]]
        });

    };

    // function refreshWTable(data, cols) {
    //     //第一个实例
    //     layui.table.render({
    //         elem: '#work'
    //         ,height: 312
    //         ,page: true //开启分页
    //         ,cols: [[ //表头
    //             {field: 'EID', title: '工号', width:80, sort: true, fixed: 'left'}
    //             ,{field: 'name', title: '姓名', width:80, sort: true}
    //             ,{field: 'Org_C', title: '组织代码', width: 120, sort:  true}
    //             ,{field: 'Org_N', title: '组织名称', width: 120, sort: true}
    //         ]]
    //         ,data: data
    //         ,cols: cols
    //     });
    // }

    function refreshMTable(data) {
        //第一个实例
        layui.table.render({
            elem: '#memb'
            ,height: 312
            ,page: true //开启分页
            ,cols: [[ //表头
                {field: 'Emp_id', title: '工号', width:80, sort: true, fixed: 'left'}
                ,{field: 'name', title: '姓名', width:80, sort: true}
                ,{field: 'Org_C', title: '组织代码', width: 120, sort:  true}
                ,{field: 'Org_N', title: '组织名称', width: 120, sort: true}
            ]],
            data: data
        });
    }

    /*
    layui.form.on('select(org1)',function (data) {
            var key=data.value;
            var nxt = layui.$('#PID');
            nxt.empty();
            layui.$('#SID').empty();
            var item;
            nxt.append('<option value="">请选择</option>');
            for (item in org2[key]){
                var opt =  layui.$("<option>").val(org2[key][item].key).text(org2[key][item].value);
                nxt.append(opt);
            }
            layui.form.render('select');
        });
        layui.form.on('select(org2)',function (data) {
            var key=data.value;
            var nxt = layui.$('#SID');
            nxt.empty();
            var item;
            nxt.append('<option value="">请选择</option>');
            for (item in org3[key]){
                var opt =  layui.$("<option>").val(org3[key][item].key).text(org3[key][item].value);
                nxt.append(opt);
            }
            layui.form.render('select');
        });
        */

</script>

