<div class="section" >
    <div class="layui-card">
        <div class="layui-card-header">管理员工信息</div>
        <div class="layui-card-body">
            <div class = "layui-row layui-col-space20">
                <div class = "layui-col-log6 layui-col-md6">
                    <div>
                        <a type="button" class="layui-btn" id = "updateData">
                            <i class="layui-icon">&#xe608;</i>从HR系统更新员工和部门信息
                        </a>
                    </div>
                </div>
            </div>

            <div class = "layui-row">
                <div class = "layui-col-log10 layui-col-md10">
                    <table id = "memberTable"></table>
                    <div id="memberPager"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var orgs = {$orgs|raw};

    var colModel = [
        {name:'id', align: 'center'},
        {name:'eid', align: 'center'},
        {name:'name', align: 'center'},
        {name:'Org_id', label: 'orgName', align: 'center', formatter: 'orgFormatter'},
        {name:'Org_id2', label: 'orgName', align: 'center', formatter: 'orgFormatter'},
        {name:'Org_id3', label: 'orgName', align: 'center', formatter: 'orgFormatter'},
        {name:'oid', label: 'orgName', align: 'center', formatter: 'orgFormatter'},
        {name:'oid', label: 'orgCode', align: 'center', formatter: 'orgFormatter'}
    ];

    var colNames = [
        'id', '工号', '姓名', '一级部门', '二级部门', '三级部门', '所属部门', '所属部门代码'
    ];

    //
    // var beforeProcessing = function (data, status, xhr) {
    //     console.log(data.length);
    //     $("#memberTable").jqGrid('setGridParam', {
    //         rowNum: data.length
    //     });
    // };

    var pagejs = function()
    {
        $.extend($.fn.fmatter , {
            orgFormatter: function (cellvalue, object, rowdata) {
                if(cellvalue === null)
                    return '';
                else if(object.colModel.label === 'orgName')
                    return orgs[cellvalue].orgName;
                else
                    return orgs[cellvalue].orgCode;
            }
        });

        memberTable = $("#memberTable").jqGrid({
            url: '/index/Member/listdata',
            datatype: 'json',
            autowidth: true,
            colModel: colModel,
            colNames: colNames,
            height: 500,
            shrinkToFit: false,
            gridview: true,
            rowNum: 50,
            pager: '#memberPager',
            caption: "员工列表",
            beforeProcessing: function (data) {
                $('#memberTable').jqGrid('setGridParam', {
                    rowNum: data.length
                });
            }
        });

        tabCloseEvent = function (json) {
            //layui.table.reload('member', {});
            //reload table here
        };

        $('#updateData').on('click',function (){
            console.log(this);
            $.post('/index/Member/updateMemAndOrgData','',function () {
                $("#memberTable").jqGrid().trigger('reloadGrid');
            }, 'json');
        });
    };

</script>
